form 
    div(class="input-container")
        div(class="input-input-container")
            label Bill
            div(class="input-with-unit")
                span(class="unit")
                    include svg/icon-dollar.pug
                input(type="number", value="0")

        div(class="input-select-tip-container")
            div(class="input-selcet-tip-title") Select tip %
            div(class="input-select-tip-button-container")
                div(class="input-select-tip-button") 5%
                div(class="input-select-tip-button") 10%
                div(class="input-select-tip-button") 15%
                div(class="input-select-tip-button") 25%
                div(class="input-select-tip-button") 50%
                div(class="input-select-tip-button") Custom

        div(class="input-input-container")
            label Number of people
            div(class="input-with-unit")
                span(class="unit") 
                    include svg/icon-person.pug
                input(type="number", value="0")
