div(class="output-container")
    div(class="output-tip-container")
        div(class="output-tip-elements-container")
            div(class="output-tip-element-container")
                div(class="output-tip-element-container")
                    div(class="output-tip-element-text-container")
                        div(class="output-tip-element-title-text")
                            | Tip Amount
                
                        div(class="output-tip-element-per-person-text")
                            | / person
                    div(class="output-tip-element-amount-container")
                        include svg/icon-dollar.pug
                        span(id="tip-per-person-output") 0.00

            div(class="output-tip-element-container")
                div(class="output-tip-element-container")
                    div(class="output-tip-element-text-container")
                        div(class="output-tip-element-title-text")
                            | Total
                
                        div(class="output-tip-element-per-person-text")
                            | / person
                    div(class="output-tip-element-amount-container")
                        include svg/icon-dollar.pug
                        span(id="total-tip-output") 0.00

        div(class="output-div-button-container")
            button(id="reset-button") RESET
