div(class="output-container")
    div(class="output-tip-container")
        div(class="output-tip-elements-container")
            div(class="output-tip-element-container")
                div(class="output-tip-element-container")
                    div(class="output-tip-element-text-container")
                        div(class="output-tip-element-title-text")
                            | Tip Amount
                
                        div(class="output-tip-element-per-person-text")
                            | / person
                    div(class="output-tip-element-amount-container")
                        include svg/icon-dollar.pug
                        | 0.00

            div(class="output-tip-element-container")
                div(class="output-tip-element-container")
                    div(class="output-tip-element-text-container")
                        div(class="output-tip-element-title-text")
                            | Tip Amount
                
                        div(class="output-tip-element-per-person-text")
                            | / person
                    div(class="output-tip-element-amount-container")
                        include svg/icon-dollar.pug
                        | 0.00

        div(class="output-div-button-container")
            button RESET
