.attribution {
  font-size: 11px;
  text-align: center;
  background-color: hsl(0, 100%, 100%);
}
@media (min-width: 768px) {
  .attribution {
    margin-top: 30px;
    background-color: transparent;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.header-container {
  margin: 30px auto;
  padding: 0.7em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.4em;
  line-height: 1.5em;
  color: hsl(183, 100%, 15%);
}
@media (min-width: 400px) {
  .header-container {
    margin: 120px auto;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-size: 1.1em;
}

.input-input-container {
  display: flex;
  flex-direction: column;
  color: hsl(184, 14%, 56%);
}
.input-input-container label {
  font-size: 0.9em;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
}
.input-input-container.focused .input-with-unit {
  border: 2px solid hsl(172, 67%, 45%);
}
.input-input-container.error .input-with-unit {
  border: 2px solid hsl(9, 77%, 56%);
}
.input-input-container.error .input-input-error-container {
  display: block;
}

.input-input-label-error-container {
  display: flex;
  justify-content: space-between;
}

.input-input-error-container {
  display: none;
  font-size: 0.9em;
  font-weight: 600;
  color: hsl(9, 77%, 56%);
}

.input-with-unit {
  position: relative;
  display: flex;
  padding: 0.3em;
  background-color: hsl(189, 47%, 97%);
  border-radius: 0.25em;
}
.input-with-unit input {
  flex-grow: 1;
  border: none;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 47%, 97%);
  direction: rtl;
  font-weight: 700;
  padding-right: 0.7em;
  font-size: 1.1em;
}
.input-with-unit input:focus {
  border: none;
  outline: none;
}
.input-with-unit .unit {
  padding-left: 0.7em;
  color: hsl(184, 14%, 56%);
}

.input-select-container {
  display: flex;
  flex-direction: column;
}

.input-select-tip-title {
  font-size: 1.1em;
  font-weight: 600;
  color: hsl(186, 14%, 43%);
}

.input-select-tip-button-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  font-weight: 500;
  cursor: pointer;
}
@media (min-width: 400px) {
  .input-select-tip-button-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.input-select-tip-button {
  background-color: hsl(183, 100%, 15%);
  padding: 0.2em;
  border-radius: 0.3em;
  text-align: center;
  color: hsl(0, 100%, 100%);
}
.input-select-tip-button.selected {
  background-color: hsl(172, 67%, 45%);
}

.input-select-tip-custom-container {
  justify-content: center;
  background-color: hsl(189, 47%, 97%);
  padding: 0.2em;
  border-radius: 0.3em;
  text-align: center;
  color: hsl(0, 100%, 100%);
}
.input-select-tip-custom-container span {
  color: hsl(186, 14%, 43%);
  font-weight: 600;
}
.input-select-tip-custom-container input {
  display: none;
  border: none;
  width: 100%;
  height: 100%;
  color: hsl(183, 100%, 15%);
  background-color: hsl(189, 47%, 97%);
  direction: rtl;
  font-weight: 700;
  padding-right: 0.7em;
  font-size: 1.1em;
}
.input-select-tip-custom-container input:focus {
  border: none;
  outline: none;
}
.input-select-tip-custom-container.focused {
  background-color: hsl(172, 67%, 45%);
}
.input-select-tip-custom-container.focused span {
  display: none;
}
.input-select-tip-custom-container.focused input {
  display: block;
}
.input-select-tip-custom-container.selected {
  border: 0.2em solid hsl(172, 67%, 45%);
}

.output-tip-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: hsl(183, 100%, 15%);
  border-radius: 0.8em;
  padding: 1em;
  height: 100%;
}

.output-tip-elements-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  gap: 1em;
}

.output-tip-element-container {
  display: flex;
  width: 100%;
}

.output-tip-element-text-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: hsl(0, 100%, 100%);
}

.output-tip-element-title-text {
  font-size: 0.8em;
  line-height: 1.3em;
}

.output-tip-element-per-person-text {
  font-size: 0.5em;
  line-height: 1em;
  color: hsl(185, 41%, 84%);
}

.output-tip-element-amount-container {
  font-size: 1.5em;
  font-weight: 600;
  color: hsl(172, 67%, 45%);
}
.output-tip-element-amount-container svg {
  width: 0.45em;
  height: auto;
  margin-right: 0.2em;
  stroke: hsl(172, 67%, 45%);
}

.output-div-button-container {
  width: 100%;
}
.output-div-button-container button {
  all: unset;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}
.output-div-button-container.hover button {
  background-color: hsl(172, 67%, 45%);
}
.output-div-button-container.disabled button {
  cursor: default;
  background-color: hsl(186, 14%, 43%);
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  margin: auto;
  width: 100%;
  max-width: 30em;
  font-size: 1em;
  background-color: hsl(0, 100%, 100%);
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
@media (min-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 40em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  background-color: hsl(185, 41%, 84%);
}

/*# sourceMappingURL=style.css.map */
