@use 'variables';

.input-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 1.1em;
}

.input-input-container {
    display: flex;
    flex-direction: column;
    color: variables.$grey-400;

    label {
        font-size: 0.9em;
        font-weight: 600;
        color: variables.$grey-500;
    }

    &.focused {
        .input-with-unit {
            border: 2px solid variables.$green-400;
        }
    }

    &.error {
        .input-with-unit {
            border: 2px solid variables.$orange;
        }

        .input-input-error-container {
            display: block;
        }
    }
}

.input-input-label-error-container {
    display: flex;
    justify-content: space-between;
}

.input-input-error-container {
    display: none;
    font-size: 0.9em;
    font-weight: 600;
    color: variables.$orange;  
}

.input-with-unit {
    position: relative;
    display: flex;
    padding: 0.3em;
    background-color: variables.$grey-50;
    border-radius: 0.25em;

    input {
        flex-grow: 1;
        border: none;
        color: variables.$green-900;
        background-color: variables.$grey-50;
        direction: rtl;
        font-weight: 700;
        padding-right: 0.7em;
        font-size: 1.1em;

        &:focus {
            border:none;
            outline: none;
        }
    }

    .unit {
        padding-left: 0.7em;
        color: variables.$grey-400;
    }
}

.input-select-container {
    display: flex;
    flex-direction: column;
}

.input-select-tip-title {
    font-size: 1.1em;
    font-weight: 600;
    color: variables.$grey-500;
}

.input-select-tip-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    font-weight: 500;
    cursor: pointer; 

    @media (min-width: variables.$mobile-width) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.input-select-tip-button {
    background-color: variables.$green-900;
    padding: 0.2em;
    border-radius: 0.3em;
    text-align: center;
    color: variables.$white;

    &.selected {
        background-color: variables.$green-400;
    }
}


.input-select-tip-custom-container {
    justify-content: center;
    background-color: variables.$grey-50;
    padding: 0.2em;
    border-radius: 0.3em;
    text-align: center;
    color: variables.$white;

    span {
        color: variables.$grey-500;
        font-weight: 600;
    }

    input {
        display: none;
        border: none;
        width: 100%;
        height: 100%;
        color: variables.$green-900;
        background-color: variables.$grey-50;
        direction: rtl;
        font-weight: 700;
        padding-right: 0.7em;
        font-size: 1.1em;

        &:focus {
            border:none;
            outline: none;
        }
    }

    &.focused {
        background-color: variables.$green-400;

        span {
            display: none;
        }

        input {
            display: block;
        }
    }

    &.selected {
        border: 0.2em solid variables.$green-400;
    }
}
