@use 'variables';
@use 'footer';
@use 'header';
@use 'main';


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: variables.$space-mono;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    background-color: variables.$grey-200;
}
